$browser-prefixes: false !default;
// $placeholder-color-default: #ff6666;

:root {
  //fonts
  --font_primary: "Spectral", serif;
  --font_secondary: "Work Sans", sans-serif;
  --font_accent: "panther hunter";

  //colors
  --color_primary: #B7472A;
  --color_yellow: #FE9801;
  --color_blue: #01D28E;
  --color_white: #fff;
  --color_matte_black: #1A1A1A;
  --color_black: #000000;

  //extras
  --container_width: 100%;
  --transition: ease all 300ms;
  --nav_height: 40;

  @media (min-width: 768px) and (max-width: 991px) {
    --container_width: 750px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    --container_width: 970px;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    --container_width: 1170px;
  }

  @media (min-width: 1401px) {
    --container_width: 1360px;
  }

  --container_left_space: calc((100% - var(--container_width)) / 2);
}
