$browser-prefixes: false !default;
// $placeholder-color-default: #ff6666;

:root {
  //fonts
  --font_primary: "Paytone One", sans-serif;
  --font_secondary: "Work Sans", sans-serif;
  --font_accent: "panther hunter";

  //colors
  --color_primary: #B7472A;
  --color_secondary: #fff5b0;
  --color_brown: #6b3d2b;
  --color_yellow: #fcf761;
  --color_purple: #bda3ef;
  --color_blue: #bcebf8;
  --color_blue1: #77d9f4;
  --color_pink: #fabebb;
  --color_orange: #fca081;
  --color_white: #fff;
  --color_black: #000000;

  //extras
  --container_width: 100%;
  --transition: ease all 300ms;

  @media (min-width: 768px) and (max-width: 991px) {
    --container_width: 750px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    --container_width: 970px;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    --container_width: 1170px;
  }

  @media (min-width: 1401px) {
    --container_width: 1360px;
  }

  --container_left_space: calc((100% - var(--container_width)) / 2);
}
