@import '../helpers/helpers.scss';

.comman_model_main_section {
    .title {
        font-family: Spectral_Medium;
        margin-bottom: 20px;
    }

    .add_card {
        width: 100%;
        box-shadow: 1px 1px 5px gray;
        padding: 30px 15px;
        background-color: var(--color_white);
        margin-bottom: 50px;

        .input_box {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            width: 50%;

            label {
                font-family: Spectral_Light;
                font-size: 22px;
                margin-bottom: 10px;
            }

            input {
                outline: none;
                font-family: Spectral_Light;
                font-size: 18px;
                padding: 5px 10px;
                border: 1px solid rgb(161, 161, 161);
            }
            select{
                outline: none;
                font-family: Spectral_Light;
                font-size: 18px;
                padding: 5px 10px;
                border: 1px solid rgb(161, 161, 161);
            }
            .fielderror{
                font-family: Spectral_Light;
                font-size: 15px;
                color: tomato;
                margin-top: 10px;
            }
        }
        .success{
            font-family: Spectral_Light;
            font-size: 20px;
            color: var(--color_blue);
            margin-bottom: 15px;
        }
        .error{
            font-family: Spectral_Light;
            font-size: 20px;
            color: tomato;
            margin-bottom: 15px;
        }

        .add_btn {
            padding: 8px 15px;
            border: none;
            background-color: var(--color_blue);
            font-family: Spectral_Light;
            font-size: 18px;
            cursor: pointer;
            color: var(--color_white);
            transition: 0.2s;

            &:hover {
                background-color: rgb(72, 218, 162);
            }
        }

        .search_inp {
            outline: none;
            font-family: Spectral_Light;
            font-size: 18px;
            padding: 5px 10px;
            border: 1px solid rgb(161, 161, 161);
            width: 100%;
            margin-bottom: 30px;
        }

        .table {
            border-collapse: collapse;
            width: 100%;

            tr {
                border-bottom: 1px solid lightgray;
                transition: all 0.2s linear;

                &:first-child {
                    &:hover {
                        background-color: white;
                    }
                }

                &:hover {
                    background-color: whitesmoke;
                }

                th {
                    text-align: left;
                    font-family: Spectral_Light;
                    font-size: 20px;
                    padding: 10px 0;

                    &:last-child {
                        text-align: right;
                    }
                }

                td {
                    font-family: Spectral_Light;
                    font-size: 20px;
                    padding: 10px 0;
                    &:last-child {
                        text-align: right;
                    }
                    .delete_btn{
                        padding: 8px 15px;
                        background-color: var(--color_primary);
                        border: none;
                        cursor: pointer;
                        color: var(--color_white);
                        font-family: Spectral_Light;
                        font-size: 15px;
                        margin-right: 10px;
                    }
                    .edit_btn{
                        padding: 8px 15px;
                        background-color: var(--color_yellow);
                        border: none;
                        cursor: pointer;
                        color: var(--color_white);
                        font-family: Spectral_Light;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}