@import "../helpers/helpers.scss";

.admin_main {
    width: 100%;
    height: 100%;
    display: flex;

    .side_nav {
        width: 20%;
        height: 100vh;
        position: sticky;
        top: 66px;
    }

    .admin_content {
        width: 80%;
        height: 100%;
        background-color: #F5F7FA;

        .container {
            width: 95%;
            // border: 1px solid black;
            margin: 0% auto;

            .hidden {
                display: none;
            }

            .admin_tab_content {
                display: block;
            }

        }
    }

}