// .demo{
//     color: red
// }
// .blog_flex{
//     border: 2px solid black;
//     height: 500px;
//     display: flex;
// }
.blog_section {
    background-color: white;

    .blog_flex {
        border: 2px solid black;
        // height: 500px;
        width: 45%;
        display: flex;
        justify-content: space-around;

        .grids {
            // background-color: yellow;
            margin: 10px;
            display: flex;
            justify-content: center;
            .grid_sec_two{
                padding: 10px;
                background-color:whitesmoke;

                .grid_top_calender {
                    font-size: 16px;
                    color: grey;
                    margin: 20px 0px;
                }
                .grid_heading{
                    font-size: 22px;
                    font-weight:400;
                    font-style: italic;
                    color: black;
                }
                .grid_para{
                    font-size: 18px;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    color: grey;
                    word-spacing: 5px;
                    font-family: serif;
                }
                .grid_sec_two button{
                    border: none;
                    background-color: red;
                }
            }
            

        }

    }



}