@import "../helpers/helpers.scss";

.login_signup {
  width: 100%;
  height: 100vh;
  .login_wrap {
    @extend %d_flex;
    height: 100%;
    @include sm-down {
      flex-wrap: wrap;
    }
    .login_img {
      width: 50%;
      height: 100%;
      @include sm-down {
        display: none;
      }
      .auth_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .login_form {
      width: 50%;
      height: 100%;
      @extend %f_r_aj_center;
      @include sm-down {
        width: 100%;
      }
      .login_box {
        box-shadow: 1px 1px 10px rgb(196, 196, 196);
        text-align: center;
        padding: 30px 40px;
        @include sm-down{
            width: 100%;
          }
        .title {
          font-family: Spectral_Semibold;
          text-transform: uppercase;
          color: var(--color_matte_black);
          .sign {
            color: var(--color_primary);
          }
          .log {
            color: #00b176;
          }
        }
        .inp_box_log {
          margin: 0 auto;
          margin-bottom: 15px;
          input {
            width: 100%;
            padding: 10px 0px;
            border: none;
            outline: none;
            // box-shadow: 1px 1px 10px lightgray;
            border-bottom: 1px solid rgba(1, 210, 142, 0.4);
            font-family: Spectral_Light;
            &::placeholder {
              font-family: Spectral_Light;
            }
          }
        }
        .inp_box_sign {
          margin: 0 auto;
          margin-bottom: 15px;
          input {
            width: 100%;
            padding: 10px 0px;
            border: none;
            outline: none;
            // box-shadow: 1px 1px 10px lightgray;
            border-bottom: 1px solid rgba(182, 70, 42, 0.4);
            font-family: Spectral_Light;
            &::placeholder {
              font-family: Spectral_Light;
            }
          }
        }
        .btn_log_in {
          button {
            width: 100%;
            padding: 10px;
            border: none;
            font-family: Spectral_Bold;
            background-color: #01d28e;
            color: white;
            cursor: pointer;
            transition: all 0.2s linear;
            letter-spacing: 3px;
            margin-bottom: 10px;
            &:hover {
              background-color: #00b176;
            }
          }
        }
        .btn_sign_up {
          button {
            width: 100%;
            padding: 10px;
            border: none;
            font-family: Spectral_Bold;
            background-color: var(--color_primary);
            color: white;
            cursor: pointer;
            transition: all 0.2s linear;
            letter-spacing: 3px;
            margin-bottom: 10px;
            &:hover {
              background-color: #993c25;
            }
          }
        }
        .btn_google {
          button {
            width: 100%;
            padding: 10px 25px;
            border: none;
            font-family: Spectral_Bold;
            background-color: var(--color_matte_black);
            color: white;
            cursor: pointer;
            transition: all 0.2s linear;
            @extend %f_r_aj_center;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 10px;
            &:hover {
              background-color: var(--color_black);
            }
            .google {
              font-size: 20px;
              margin-left: 7px;
            }
          }
        }
        .account {
          margin-top: 20px;
          p {
            font-family: Spectral_Light;
            span {
              color: rgb(44, 133, 206);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
