@import "../helpers/helpers.scss";

nav {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 100;
  transition: 0.6s ease;

  .navbar {
    padding: 30px 0px;

    @include md-down {
      padding: 30px 10px;
    }

    transition: 0.6s ease;

    .link_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo_box {
        font-size: 24px;
        font-family: Spectral_Semibold;

        p {
          color: white;

          span {
            opacity: 0.5;
          }
        }
      }

      .links {
        display: flex;
        color: white;
        align-items: center;
        opacity: 0.7;

        .link_name {
          margin: 0% 15px;
          font-family: Spectral_Light;
        }
        .cart_name{
          margin: 0% 15px;
          font-family: Spectral_Light;
          @include sm-down{
            margin: 0% 5px;
          }
          .cartLength {
            padding: 0px 10px;
            border-radius: 20px;
            background-color: var(--color_yellow);
            color: var(--color_white);
          }
        }

        .logout {
          font-family: Spectral_Semibold;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 5px;
          @include sm-down{
            display: none;
          }
        }
        .profilePic{
          width: 40px;
          height: 40px;
          border: 1px solid gray;
          border-radius: 50%;
          overflow: hidden;
          margin: 0% 15px;
          @include sm-down{
            margin: 0% 5px;
          }
          img{
            width: 100%;
            height: 100%;
          }
        }

        .userChar {
          margin: 0% 15px;
          border: 1px solid white;
          width: 40px;
          height: 40px;
          @extend %f_r_aj_center;
          border-radius: 50%;
          @include sm-down{
            margin: 0% 5px;
          }
        }

        .hamburger {
          display: none;
        }

        @include md-down {
          .hamburger {
            display: block;
            padding: 2px 8px;
            background-color: transparent;
            border: 1px solid white;
            color: aliceblue;
          }

          .link_name {
            display: none;
          }
        }
      }
    }
  }

  .side_bar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 70%;
    transform: translateX(-100%);
    background-color: white;
    height: 100vh;
    z-index: 10;
    transition: all 0.2s linear;

    .side_nav {
      padding-left: 30px;
      padding-top: 50px;

      .link_name {
        margin-bottom: 20px;
        font-family: Spectral_Semibold;
        
      }
    }
  }

  .active_hamburger {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 70%;
    background-color: white;
    height: 100vh;
    z-index: 10;
    transition: all 0.2s linear;

    .side_nav {
      padding-left: 30px;
      padding-top: 50px;

      .link_name {
        margin-bottom: 20px;
        font-family: Spectral_Semibold;
      }
      .logout {
        font-family: Spectral_Semibold;
        border: 1px solid black;
        padding: 5px 10px;
        border-radius: 5px;
        display: inline;
        &:hover{
          background-color: tomato;
          color: white;
          border: 1px solid var(--color_primary);
        }
      }
    }
  }
}

// SCROLL EFFECT.........................

.scroll {
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.shadow {
  transition: 0.6s ease;
  padding: 15px 0px;

  @include md-down {
    padding: 15px 10px;
  }

  .link_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo_box {
      font-size: 24px;
      font-family: Spectral_Semibold;

      p {
        color: black;

        span {
          color: var(--color_primary);
        }
      }
    }

    .links {
      display: flex;
      color: black;
      opacity: 0.9;
      align-items: center;

      .link_name {
        margin: 0% 15px;
        font-family: Spectral_Light;
      }
      .cart_name{
        margin: 0% 15px;
        font-family: Spectral_Light;
        @include sm-down{
          margin: 0% 5px;
        }
        .cartLength {
          padding: 0px 10px;
          border-radius: 20px;
          background-color: var(--color_yellow);
          color: var(--color_white);
        }
      }

      .logout {
        font-family: Spectral_Semibold;
        border: 1px solid var(--color_primary);
        padding: 5px 10px;
        border-radius: 5px;
        color: var(--color_primary);
        @include sm-down{
          display: none;
        }
      }
      .profilePic{
        width: 40px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 50%;
        overflow: hidden;
        margin: 0% 15px;
        @include sm-down{
          margin: 0% 5px;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }

      .userChar {
        margin: 0% 15px;
        border: 1px solid gray;
        color: var(--color_yellow);
        width: 40px;
        height: 40px;
        @extend %f_r_aj_center;
        border-radius: 50%;
        @include sm-down{
          margin: 0% 5px;
        }
      }

      .hamburger {
        display: none;
      }

      @include md-down {
        .hamburger {
          display: block;
          padding: 2px 8px;
          background-color: transparent;
          border: 1px solid gray;
          color: black;
        }

        .link_name {
          display: none;
        }
      }
    }
  }
}