@import "../helpers/helpers.scss";

.NoPage_section{
    background-color: lightsalmon;
    .main_nopage{
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        @extend %d_flex;
        @include sm-down{
        }
    }
}