@import "../helpers/helpers.scss";

.banner_section {
  background-color: var(--color_primary);
  .banner_wrap {
    @extend %d_flex;
    @include sm-down{
      flex-direction: column;
    }
    .banner_box {
      flex: 1;
      @extend %f_r_a_center;
      color: white;
      padding: 40px 20px;
      &:nth-child(2) {
        background-color: #ab4227;
      }
      &:last-child {
        background-color: #a23f25;
      }
      @include md-down{
        flex-direction: column;
        padding: 20px 15px;
      }
      @include sm-down{
        width: 100%;
      }
      .icon {
        @include md-down{
          margin-bottom: 10px;
        }
      }
      .info {
        padding-left: 20px;
        .title {
          font-family: Spectral_Medium;
          margin-bottom: 10px;
        }
        .desp {
          font-family: Spectral_Light;
          opacity: 0.8;
        }
      }
    }
  }
}
