@import "../helpers/helpers.scss";

.client_slider {
  // background-image: url("../../img/home/slick_banner.jpg");
  background-image: url("../../img/home/slick-banner2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // height: 100vh;
  background-attachment: fixed;
  @include lg-down{
    background-size: cover;
    // height: 70vh;
  }
  @include md-down{
    background-size: cover;
    // height: 70vh;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    .head_wrap {
      color: white;
      text-align: center;
      margin-bottom: 50px;
      .small_title {
        font-family: Spectral_Italic;
        opacity: 0.8;
      }
      .title {
        font-family: Spectral_Bold;
      }
    }
    .slider_wrap{
      .padd{
        padding: 0 15px;
        margin: 30px 0;
      .client_box{
        // width: 33.33%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        position: relative;
        padding: 30px 20px;
        .hyphen{
          width: 50px;
          height: 50px;
          background-color: var(--color_primary);
          border-radius: 50%;
          position: absolute;
          top: -25px;
          left: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
        .review{
          font-family: Spectral_Italic;
          color: white;
          opacity: 0.7;
          margin-bottom: 20px
        }
        .client_info{
          @extend %d_flex;
          align-items: center;
          img{
            width: 90px;
            border-radius: 50%;
          }
          .info{
            padding-left: 15px;
            .name{
              color: white;
              font-size: 20px;
              font-family: Spectral_Medium;
            }
            .profile{
              color: white;
              opacity: 0.7;
              font-family: Spectral_Light;
            }
          }
        }
      }
    }
    }
  }
}
