@import "../helpers/helpers.scss";

.desire_section {
  // background-color: wheat;
  .desire_wrap {
    @extend %f_r_a_center;
    @include md-down {
      flex-direction: column;
      align-items: flex-start;
    }
    .desire_img {
      width: 50%;
      @include md-down {
        width: 100%;
      }
      @include sm-down {
        width: 100%;
      }
    }
    .desire_info {
      width: 50%;
      padding: 0 40px;
      @include md-down {
        width: 100%;
        padding: 20px 0;
      }
      @include sm-down {
        width: 100%;
      }
      .year {
        color: var(--color_primary);
        font-family: Spectral_Italic;
      }
      .title {
        font-family: Spectral_Bold;
        color: var(--color_black);
        margin-bottom: 20px;
        @include sm-down{
            line-height: 1.3;
        }
      }
      .desp {
        font-family: Spectral_Light;
        color: var(--color_black);
        opacity: 0.8;
        margin-bottom: 15px;
      }
      .exp {
        font-family: Spectral_Light;
        color: var(--color_black);
        @include sm-down{
            line-height: 1.3;
        }
      }
      .red_text {
        color: var(--color_primary);
        font-family: Spectral_Italic;
        @include sm-down{
            line-height: 1.3;
        }
      }
    }
  }
}
