.product_circle {
  // background-color: lightgreen;
  .product_wrap {
    display: flex;
    justify-content: space-around;
    .product_box {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 1px solid gray;
      position: relative;
      &::after {
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        content: "";
        border: 1px solid #b7472a;
        z-index: -1;
        border-radius: 50%;
        transition: all 0.6s ease;
      }
      &:hover::after {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-color: lightblue;
        background: lightblue;
      }
    }
  }
}
